
@{
    /**/

    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/dashboardLayout.cshtml";
}


<!-- page content -->
<div class="right_col" role="main">
     @Html.Raw(@ViewBag.Alert) 
    <div class="page-title">
        <div class="title_left clear">
            <h2>Dashboard</h2>
        </div>
        
    </div>
    <div class="clearfix"></div>



    <div class="row">
        

        
    </div>



</div>
<!-- /page content -->
